@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root {
  --dark-bg: #121213;
  --header-bg: #19191a;
  --darker-bg: #171719;
  --dark2-bg: #212124;
  --light-bg: #f3fbfe;
}
::selection {
  background-color: var(--dark2-bg);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Inter', sans-serif;
}
body {
  background: var(--dark-bg);
}
@media (prefers-color-scheme: light) {
  body {
    background: var(--light-bg);
  }
  ::selection {
    background-color: #c7c7ee;
  }
}