@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --dark-bg: #09090b;
  --header-bg: #19191a;
  --darker-bg: #171719;
  --dark2-bg: #212124;
  ---selection-dark-color: #343438;
  ---selection-light-color: #e3e3f3;
  --light-bg: #f8f9fa;
  color-scheme: dark
}
::selection {
  @apply dark:bg-border-dark-hue bg-metal
  /* background-color: var(---selection-dark-color); */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
}
body {
  @apply dark:bg-sidebar-link-bg bg-lightbg
  /* background: var(--dark-bg); */
}
