.header {
  width: 100%;
  background-color: rgba(23, 23, 28, 0.62);
  padding: 15px 55px;
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
}
.inputBx {
  width: 100%;
  display: flex;
  align-items: center;
}
.inputBx input {
  max-width: 200px;
  width: 100%;
  padding: 15px 25px;
  font-size: 1rem;
  border: none;
  outline: none;
  background-color: transparent;
  color: #a9aaab;
}
.inputBx input::placeholder {
  color: #a9aaab;
}
.home,
.dailyproj,
.work {
  cursor: pointer;
}
.center {
  padding: 55px;
}
.field {
  width: 100%;
  /* height: 100%; */
  /* max-height: 100px; */
  overflow: hidden;
  background-color: var(--darker-bg);
  border: 1px solid var(--dark2-bg);
  border-radius: 5px;
  padding: 20px;
}

.field textarea {
  width: 100%;
  height: 100%;
  max-height: 100px;
  padding: 18px 20px;
  resize: none;
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 1rem;
  color: #fff;
  transition: all 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.field textarea::placeholder {
  color: #a9aaab;
}
.field textarea#eactive {
  max-height: 500px;
}
.bottomField {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.btnBx #postBtn[data-state="active"] {
  opacity: 0.2;
  pointer-events: none;
}
.load_ {
  display: flex;
  justify-content: flex-end;
  /* padding: 10px; */
  width: 100%;
  /* opacity: 0; */
  /* transition: all 0.3s cubic-bezier(0.755, 0.05, 0.855, 0.06); */
}
.load_#active {
  opacity: 1;
}
.loadWrapper {
  width: 100%;
  max-width: 280px;
  padding: 13px 20px;
  background-color: rgb(39, 39, 42);
  border: 1px solid rgb(63, 63, 67);
  display: flex;
  gap: 0.5rem;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loadWrapper #loadText {
  text-align: center;
  color: rgb(196, 196, 230);
  display: flex;
}
#loadText .pulse {
  width: 30px;
  height: 20px;
  color: #d1d1eb;
  --c: radial-gradient(farthest-side, currentColor 96%, #0000);
  background:
    var(--c) 100% 100% /30% 60%,
    var(--c) 70% 0 /50% 100%,
    var(--c) 0 100% /36% 68%,
    var(--c) 27% 18% /26% 40%,
    linear-gradient(currentColor 0 0) bottom/67% 58%;
  background-repeat: no-repeat;
  position: relative;
}
#frame {
  overflow: hidden;
}
#frame::-webkit-scrollbar {
  display: none;
}
.pulse:after {
  content: "";
  position: absolute;
  inset: 0;
  background: inherit;
  opacity: 0.4;
  animation: pulse-hjvm54 0.6s infinite;
}

@keyframes pulse-hjvm54 {
  to {
    transform: scale(1.8);
    opacity: 0;
  }
}
.question {
  margin-top: 3rem;
}
.qusBx {
  width: 100%;
  background-color: var(--darker-bg);
  border: 1px solid var(--dark2-bg);
  border-radius: 5px;
  padding: 20px;
  margin-top: 1rem;
  cursor: pointer;
}
.qusProfile {
  display: flex;
  gap: 0.8rem;
}
.qusUser {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
.qusUser #qusName {
  color: #fff;
  font-weight: 500;
}
.qusUser #qusDate {
  color: #a9aaab;
  font-weight: 400;
  font-size: 0.9rem;
}
.qusText {
  margin-top: 1rem;
}
.qusThumb {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}
.qusThumb img {
  width: 100%;
  height: 60%;
  object-fit: cover;
  border-radius: 10px;
}
.qusText p {
  color: #a9aaab;
}
.qusBtn {
  margin-top: 1rem;
}
.qusBtn {
  display: flex;
  gap: 1rem;
}
.qusUpvote,
.qusDownVote #counter {
  color: #fff;
  font-size: 0.9rem;
}
/* Float Comment Bx */
.float {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(14, 16, 21, 0.908);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  z-index: 1;
  top: 0;
  left: 0px;
  padding: 20px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.1s ease-in-out;
}
.float#active {
  opacity: 1;
  pointer-events: auto;
}
.commentBox {
  margin-top: 10rem;
}

.commentBox textarea::placeholder {
  color: #a9aaab;
}
.float .close {
  cursor: pointer;
}
.float .cmBtn {
  margin-top: 1rem;
}
/* publishing state */
.cmBtn #publish[data-publishing="active"] {
  opacity: 0.2;
  pointer-events: none;
}
.dialogueWrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 50px;
  backdrop-filter: blur(2px);
  background-color: rgba(14, 16, 21, 0.64);
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  scale: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.dialogueWrapper#active {
  scale: 1;
  pointer-events: auto;
}
.dialogue {
  width: 100%;
  max-width: 800px;
  padding: 35px;
  background-color: var(--dark2-bg);
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  position: relative;
}

.dialogueHeader h3 {
  font-size: 1.5rem;
  color: #8ea8f7;
}
.dialogueHeader h3#err {
  color: #f78e9e;
}
.dialogueCenter {
  margin-top: 0.9rem;
}
.dialogueButtons {
  margin-top: 0.9rem;
  display: flex;
  justify-content: flex-end;
}
.dialogueCenter p {
  font-size: 1.1rem;
  color: #fff;
}
.dialogueButtons #cancel {
  padding: 10px 25px;
  outline: none;
  border: none;
  background-color: rgb(50, 96, 233);
  border-radius: 3px;
  font-size: 1.1rem;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
}
.dialogueButtons #cancel:hover {
  background-color: rgb(60, 105, 241);
}
#layoutsidebar[data-status="active"] {
  right: 0;
}
@media screen and (max-width: 472px) {
  .header {
    width: 100%;
    background-color: var(--header-bg);
    padding: 15px 35px;
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;
  }
  .center {
    padding: 15px;
  }
  .qusText p {
    font-size: 0.9rem;
  }
  .qusUser #qusName {
    font-size: 0.9rem;
  }
  .qusUser #qusDate {
    font-size: 0.9rem;
  }
  .qusComment svg {
    width: 18px;
    height: 18px;
  }
  .inputBx input {
    font-size: 0.9rem;
  }
  .uploadBtn svg {
    width: 18px;
    height: 18px;
  }
  .inputBx svg {
    width: 18px;
    height: 18px;
  }
  .btnBx #postBtn {
    font-size: 0.9rem;
  }
  .field textarea {
    font-size: 0.9rem;
  }
  .dialogueWrapper {
    padding: 20px;
  }
}
@media screen and (max-width: 362px) {
  .dialogueHeader h3 {
    font-size: 1.3rem;
  }
  .dialogueCenter p {
    font-size: 1rem;
  }
}
@media (prefers-color-scheme: light) {
  .header {
    background-color: var(--light-bg);
  }
  .inputBx input {
    width: 100%;
    padding: 15px 25px;
    font-size: 1rem;
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--dark2-bg);
  }
  .inputBx input::placeholder {
    color: var(--dark2-bg);
  }
  .inputBx svg {
    stroke: var(--dark2-bg);
  }
  .field {
    width: 100%;
    background-color: var(--light-bg);
    border: 1px solid #c7c7ee;
    border-radius: 5px;
    padding: 20px;
  }
  .field textarea {
    color: var(--darker-bg);
  }
  .field textarea::placeholder {
    color: var(--darker-bg);
  }
  .uploadBtn svg {
    stroke: var(--darker-bg);
  }
  .qusBx {
    background-color: var(--light-bg);
    border: 1px solid #c7c7ee;
  }
  .qusText p {
    color: var(--darker-bg);
  }
  .qusUser #qusName {
    color: var(--dark-bg);
    font-weight: 500;
  }
  .qusUser #qusDate {
    color: var(--dark-bg);
    font-weight: 400;
  }
  .qusComment svg {
    stroke: var(--dark-bg);
  }
}
