.header {
  width: 100%;
  background-color: var(--header-bg);
  padding: 15px 55px;
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
}
.inputBx {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inputBx input {
  width: 100%;
  padding: 15px 25px;
  font-size: 1rem;
  border: none;
  outline: none;
  background-color: transparent;
  color: #a9aaab;
}
.inputBx input::placeholder {
  color: #a9aaab;
}
.home,
.dailyproj,
.work {
  cursor: pointer;
}
.center {
  padding: 55px;
}
.field {
  width: 100%;
  background-color: var(--darker-bg);
  border: 1px solid var(--dark2-bg);
  border-radius: 5px;
  padding: 20px;
}
.field textarea {
  width: 100%;
  padding: 18px 20px;
  resize: none;
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 1rem;
  color: #fff;
}
.field textarea::placeholder {
  color: #a9aaab;
}
.bottomField {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.btnBx #postBtn {
  padding: 15px 35px;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 600;
  background-color: rgb(50, 96, 233);
  color: #fff;
  cursor: pointer;
  opacity: 0.2;
  pointer-events: none;
}
.btnBx #postBtn.active {
  opacity: 1;
  pointer-events: auto;
}
.btnBx #postBtn[data-state="active"] {
  opacity: 0.2;
  pointer-events: none;
}
.question {
  margin-top: 3rem;
}
.qusBx {
  width: 100%;
  background-color: var(--darker-bg);
  border: 1px solid var(--dark2-bg);
  border-radius: 5px;
  padding: 20px;
  margin-top: 1rem;
}
.qusProfile {
  display: flex;
  gap: 0.8rem;
}
.qusUser {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
.qusUser #qusName {
  color: #fff;
  font-weight: 500;
}
.qusUser #qusDate {
  color: #a9aaab;
  font-weight: 400;
  font-size: 0.9rem;
}
.qusText {
  margin-top: 1rem;
}
.qusText p {
  color: #a9aaab;
}
.qusBtn {
  margin-top: 1rem;
}
.qusBtn {
  display: flex;
  gap: 1rem;
}
.qusUpvote,
.qusDownVote #counter {
  color: #fff;
  font-size: 0.9rem;
}
/* Float Comment Bx */
.float {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(14, 16, 21, 0.775);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  z-index: 1;
  top: 0;
  left: 0px;
  padding: 20px;
  transform: scale(0);
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.float#active {
  transform: scale(1);
  pointer-events: auto;
}
.commentBox {
  margin-top: 10rem;
}
.commentBox textarea {
  width: 100%;
  height: 400px;
  padding: 30px;
  border-radius: 10px;
  resize: none;
  border: none;
  outline: none;
  background-color: var(--dark2-bg);
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
  color: #ffffff;
}
.commentBox textarea::placeholder {
  color: #a9aaab;
}
.float .close {
  cursor: pointer;
}
.float .cmBtn {
  margin-top: 1rem;
}
.commentBox .cmBtn #publish {
  padding: 13px 25px;
  border: none;
  outline: none;
  background-color: rgb(50, 96, 233);
  color: #fff;
  cursor: pointer;
  font-weight: 500;
  border-radius: 5px;
  opacity: 0.5;
  pointer-events: none;
}
.commentBox .cmBtn #publish.active {
  opacity: 1;
  pointer-events: auto;
}
.commentBox .cmBtn #publish[data-state="active"] {
  opacity: 0.2;
  pointer-events: none;
}
.dialogueWrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 50px;
  backdrop-filter: blur(2px);
  background-color: rgba(14, 16, 21, 0.64);
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  scale: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.dialogueWrapper#active {
  scale: 1;
  pointer-events: auto;
}
.dialogue {
  width: 100%;
  max-width: 800px;
  padding: 35px;
  background-color: var(--dark2-bg);
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  position: relative;
}

.dialogueHeader h3 {
  font-size: 1.5rem;
  color: #f78e9e;
}
.dialogueCenter {
  margin-top: 0.9rem;
}
.dialogueButtons {
  margin-top: 0.9rem;
  display: flex;
  justify-content: flex-end;
}
.dialogueCenter p {
  font-size: 1.1rem;
  color: #fff;
}
.dialogueButtons #cancel {
  padding: 10px 25px;
  outline: none;
  border: none;
  background-color: rgb(50, 96, 233);
  border-radius: 3px;
  font-size: 1.1rem;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
}
.dialogueButtons #cancel:hover {
  background-color: rgb(60, 105, 241);
}
@media screen and (max-width: 472px) {
  .header {
    width: 100%;
    background-color: var(--header-bg);
    padding: 15px 35px;
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;
  }
  .center {
    padding: 15px;
  }
  .qusText p {
    font-size: 0.9rem;
  }
  .qusUser #qusName {
    font-size: 0.9rem;
  }
  .qusUser #qusDate {
    font-size: 0.9rem;
  }
  .qusComment svg {
    width: 18px;
    height: 18px;
  }
  .qusUpvote svg {
    width: 18px;
    height: 18px;
  }
  .qusDownVote svg {
    width: 18px;
    height: 18px;
  }
  .qusView svg {
    width: 18px;
    height: 18px;
  }
  .qusUpvote,
  .qusDownVote #counter {
    font-size: 0.8rem;
  }
  .inputBx input {
    font-size: 0.9rem;
  }
  .uploadBtn svg {
    width: 18px;
    height: 18px;
  }
  .inputBx svg {
    width: 18px;
    height: 18px;
  }
  .btnBx #postBtn {
    font-size: 0.9rem;
  }
  .field textarea {
    font-size: 0.9rem;
  }
  .dialogueWrapper {
    padding: 20px;
  }
}
@media screen and (max-width: 362px) {
  .dialogueHeader h3 {
    font-size: 1.3rem;
    color: #f78e9e;
  }
  .dialogueCenter p {
    font-size: 1rem;
    color: #fff;
  }
}
@media (prefers-color-scheme: light) {
  .header {
    background-color: var(--light-bg);
  }
  .inputBx input {
    width: 100%;
    padding: 15px 25px;
    font-size: 1rem;
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--dark2-bg);
  }
  .inputBx input::placeholder {
    color: var(--dark2-bg);
  }
  .inputBx svg {
    stroke: var(--dark2-bg);
  }
  .field {
    width: 100%;
    background-color: var(--light-bg);
    border: 1px solid #c7c7ee;
    border-radius: 5px;
    padding: 20px;
  }
  .field textarea {
    color: var(--darker-bg);
  }
  .field textarea::placeholder {
    color: var(--darker-bg);
  }
  .uploadBtn svg {
    stroke: var(--darker-bg);
  }
  .qusBx {
    background-color: var(--light-bg);
    border: 1px solid #c7c7ee;
  }
  .qusText p {
    color: var(--darker-bg);
  }
  .qusUser #qusName {
    color: var(--dark-bg);
    font-weight: 500;
  }
  .qusUser #qusDate {
    color: var(--dark-bg);
    font-weight: 400;
  }
  .qusComment svg {
    stroke: var(--dark-bg);
  }
  .qusUpvote svg {
    stroke: var(--dark-bg);
  }
  .qusDownVote svg {
    stroke: var(--dark-bg);
  }
  .qusView svg {
    stroke: var(--dark-bg);
  }
  .qusUpvote,
  .qusDownVote #counter {
    color: var(--dark2-bg);
    font-size: 0.9rem;
  }
}
.bars_center {
  display: flex;
  align-items: center;
  justify-content: center;
  /* min-height: 100vh; */
}
.bars_center .bars {
  width: 50.4px;
  height: 44.8px;
  --c: linear-gradient(
    #b9b9f8 calc(50% - 11.2px),
    #0000 0 calc(50% + 11.2px),
    #b9b9f8 0
  );
  background: var(--c) 0% 100%, var(--c) 50% 100%, var(--c) 100% 100%;
  background-size: 10.1px calc(200% + 22.4px);
  background-repeat: no-repeat;
  animation: bars-th2joa 0.8s infinite linear;
}

@keyframes bars-th2joa {
  33% {
    background-position: 0% 50%, 50% 100%, 100% 100%;
  }

  50% {
    background-position: 0% 0%, 50% 50%, 100% 100%;
  }

  66% {
    background-position: 0% 0%, 50% 0%, 100% 50%;
  }

  100% {
    background-position: 0% 0%, 50% 0%, 100% 0%;
  }
}
.pulse {
  position: relative;
  width: 33.6px;
  height: 33.6px;
}

.pulse:before,
.pulse:after {
  width: 33.6px;
  height: 33.6px;
  border-radius: 50%;
  content: '';
  display: block;
}

.pulse:before {
  background-color: #dfdff7;
  animation: pulse-7ypmgi 0.8s infinite ease;
}

.pulse:after {
  animation: pulse-6r5w34 0.8s infinite;
  border: 4.5px solid #dfdff7;
  left: 0;
  position: absolute;
  top: 0;
}

@keyframes pulse-7ypmgi {
  0% {
     transform: scale(0);
  }

  50% {
     transform: scale(1);
  }
}

@keyframes pulse-6r5w34 {
  0%, 50% {
     opacity: 0;
  }

  55% {
     opacity: 1;
  }

  100% {
     opacity: 0;
     transform: scale(2);
  }
}
.shapes_center {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}
.shapes {
  width: 44.8px;
  height: 44.8px;
  color: #b9b9f8;
  background: linear-gradient(currentColor 0 0),
         linear-gradient(currentColor 0 0),
         linear-gradient(currentColor 0 0),
         linear-gradient(currentColor 0 0);
  background-size: 23.4px 23.4px;
  background-repeat: no-repeat;
  animation: shapes-53h9rpmd 1.2000000000000002s infinite cubic-bezier(0.3,1,0,1);
}

@keyframes shapes-53h9rpmd {
  0% {
     background-position: 0    0,100% 0   ,100% 100%,0 100%;
  }

  33% {
     background-position: 0    0,100% 0   ,100% 100%,0 100%;
     width: 67.2px;
     height: 67.2px;
  }

  66% {
     background-position: 100% 0,100% 100%,0    100%,0 0;
     width: 67.2px;
     height: 67.2px;
  }

  100% {
     background-position: 100% 0,100% 100%,0    100%,0 0;
  }
}