.center {
  padding: 55px;
}
.jobWrapper {
  width: 100%;
}
.jobs {
  padding: 20px;
  background-color: rgb(18, 18, 21);
  border: 1px solid #3035406e;
  border-radius: 5px;
  margin-top: 1rem;
}
.ajs {
  background-color: #7248fc12;
}
@media screen and (max-width:724px) {
  .extra {
    margin-top: 1rem;
  }
  .center {
    padding: 15px;
  }
}