.center {
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.imageComponent {
  width: 880px;
  height: 500px;
  border-radius: 8px;
  border: 1px solid #7148FC;
  overflow: hidden;
  object-fit: contain;
  user-select: none;
  margin-top: 3rem;
  transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.imageComponent img {
  width: 880px;
  height: 500px;
  border-radius: 8px;
  /* border: 1px dashed #d8cdff; */
  border: 1px dashed #7148FC;
  overflow: hidden;
  object-fit: contain;
  user-select: none;
  transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
@media screen and (max-width:880px) {
  .imageComponent {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    border: 1px solid #7148FC;
    overflow: hidden;
    object-fit: contain;
    user-select: none;
    margin-top: 3rem;
    transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }
  .imageComponent img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    /* border: 1px dashed #d8cdff; */
    border: 1px dashed #7148FC;
    overflow: hidden;
    object-fit: contain;
    user-select: none;
    transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }
}
.imageComponent img:hover {
  scale: 1.03;
}
.content {
  padding: 50px;
}
.chel {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  width: 100%;
}
.prxi {
  padding: 10px;
  width: 100%;
  max-width: 450px;
  background-color: #17191f;
  border: 1px solid #252833;
  border-radius: 10px;
  transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.prxi:hover {
  background-color: #1f222a;
}
.rpx {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  overflow: hidden;
  margin-top: 0.9rem;
}
.rpx img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.prxi:hover .rpx img {
  scale: 1.04;
}
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  padding: 30px;
  background-color: #0c121caa;
  backdrop-filter: blur(7px);
  /* overflow: auto; */
  -webkit-backdrop-filter: blur(7px);
  transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.popup::-webkit-scrollbar {
  display: none;
}
.flow_ui {
  width: 100%;
  height: 700px;
  overflow: auto;
  padding: 30px;
  background-color: #151b23;
  border: 1px solid #2f3947;
  border-radius: 10px;
}
.flow_ui::-webkit-scrollbar {
  display: none;
}
.popup[data-state="active"] {
  opacity: 0;
  pointer-events: none;
}